body{
    background: url(imagenes/fondo.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  border-radius: 20px;
  width:965px;
  background:  white;
  margin:auto;
}
.menu-header{
    width: 100px;
    margin-top:11px;
}
.img-body{
    width:965px;
}
.img-enca{
    width: 265px;
}
.top{
    margin-top: 40px;
}
.menu{
    float: right;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: black;
    text-decoration: none;
    padding:10px;
}
.menu a:hover{
    border-radius: 2px;
    background-color: grey;
}
.col{
    width: 265px;
    display: inline-block;
    padding: 20px;
}
.col h2{
    color: rgb(36, 45, 100);
}
.row{
    text-align: center;
}
.footer{
    overflow: hidden;
}
.footer a{
    color:black;
    text-decoration: none;
}
.footer span{
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
